<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="./assets/youtube.png" type="image/x-icon">

    <!-- Primary Meta Tags -->
    <title>Youtube Tools</title>
    <meta name="title" content="Youtube Tools">
    <meta name="description"
        content="Best all in one free youtube tools from downloader to converter. HD quality | Unlimited downloads | Free to use">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://youtubetools.herokuapp.com/">
    <meta property="og:title" content="Youtube Tools">
    <meta property="og:description"
        content="Best all in one free youtube tools from downloader to converter. HD quality | Unlimited downloads | Free to use">
    <meta property="og:image" content="https://youtubetools.herokuapp.com/assets/ythomepage.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://youtubetools.herokuapp.com/">
    <meta property="twitter:title" content="Youtube Tools">
    <meta property="twitter:description"
        content="Best all in one free youtube tools from downloader to converter. HD quality | Unlimited downloads | Free to use">
    <meta property="twitter:image" content="https://youtubetools.herokuapp.com/assets/ythomepage.png">

</head>

<body>
    <header>
        <nav>
            <p class="logo">youtubetools</p>
            <div class="left">
                <a href="https://blogtheorem.com" target='__blank'>
                    <p>Portfolio</p>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <div class="title">
            <h1>
                <span>
                    <i class="fab fa-youtube"></i>
                </span>Youtube All in One Tools
            </h1>
        </div>
        <div class="container">
            <div class="card">
                <a href="/yt2mp3">
                    <span>
                        <i class="fas fa-music"></i>
                    </span>
                    Youtube 2 MP3
                </a>
            </div>
            <div class="card">
                <a href="/thumbnail">
                    <span>
                        <i class="fas fa-images"></i>
                    </span>
                    Youtube Thumbail Downlaod
                </a>
            </div>
            <div class="card">
                <a href="/tag">
                    <span>
                        <i class="fas fa-tags"></i>
                    </span>
                    Youtube Tag Download
                </a>
            </div>
        </div>
    </main>
    <p class='note'>More Tools coming soon 😄 </p>
    <footer>
        <div class="message">
            Made with ☕ and 💻 by blogtheorem
        </div>
        <div class="bottom">
            <p>Copyright @youtubetools 2021</p>
            <div class="botton_right">
                <a href="/privacy">
                    <p>Privacy Page</p>
                </a>
                <a href="/terms">
                    <p>Terms of Service</p>
                </a>
                <a href="/disclaimer">
                    <p>Disclaimer</p>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>