<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="google-site-verification" content="5e1_FTWcJXjH6dyShyVaZUF5MHOAscMNUs6m3WT2BEU" />
    <link rel="shortcut icon" href="./assets/youtube.png" type="image/x-icon">

    <!-- Primary Meta Tags -->
    <title>Youtube Tools</title>
    <meta name="title" content="Youtube Tools">
    <meta name="description"
        content="Best all in one free youtube tools from downloader to converter. HD quality | Unlimited downloads | Free to use">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://youtubetools.herokuapp.com/">
    <meta property="og:title" content="Youtube Tools">
    <meta property="og:description"
        content="Best all in one free youtube tools from downloader to converter. HD quality | Unlimited downloads | Free to use">
    <meta property="og:image" content="https://youtubetools.herokuapp.com/assets/ythomepage.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://youtubetools.herokuapp.com/">
    <meta property="twitter:title" content="Youtube Tools">
    <meta property="twitter:description"
        content="Best all in one free youtube tools from downloader to converter. HD quality | Unlimited downloads | Free to use">
    <meta property="twitter:image" content="https://youtubetools.herokuapp.com/assets/ythomepage.png">
</head>

<body>
    <header>
        <nav>
            <p class="logo">youtubetools</p>
            <div class="left">
                <a href="https://blogtheorem.com" target='__blank'>
                    <p>Portfolio</p>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <div class="title">
            <h1>
                <span>
                    <i class="fab fa-youtube"></i>
                </span>Youtube All in One Tools
            </h1>
        </div>
        <div class="container">
            <div class="card">
                <a href="/yt2mp3">
                    <span>
                        <i class="fas fa-music"></i>
                    </span>
                    Youtube 2 MP3
                </a>
            </div>
            <div class="card">
                <a href="/thumbnail">
                    <span>
                        <i class="fas fa-images"></i>
                    </span>
                    Youtube Thumbail Downlaod
                </a>
            </div>
            <div class="card">
                <a href="/tag">
                    <span>
                        <i class="fas fa-tags"></i>
                    </span>
                    Youtube Tag Download
                </a>
            </div>
        </div>
    </main>
    <p class='note'>More Tools coming soon 😄 </p>
    <div class="content">
        <p>Best, all in one free YouTube tools from downloader to converter. YouTube tools website provides a way to
            solve the common problems and provide a valid solution.</p>
        <p>Copy the youtube link then select the tool you want to use for example youtube to mp3 converter, then paste
            the link in input section and click enter. The result will be shown in the container from which you can
            download the song.</p>
        <div class="content_features">
            <h3>But why to use this youtubetools wesbite? 🥳</h3>
            <p>
                1. ⬇️ Free to use with unlimited downloads.
                2. 💾 HD quality conversion and results.
                3. 🔓 No login/Signup required.
                4. 🔗 Many tools in one place.
                5. 🖼 Easy and clean UI/UX expereince.
            </p>
        </div>
        <p>Similar is working in case of tag and thumbnail download. Our service is free to use and do not require any
            application installation, directly open the URL youtubetools.herokuapp.com and start using it. </p>

        <p>If you feel the service help you achieve your work, do support with small donation by buy a cup of <a
                href="https://www.buymeacoffee.com/blogtheorem" target="__blank">coffee</a>,
            this help to make even better software service and deliever to you. Thank you for your time and using the
            page.
        </p>
    </div>
    <footer>
        <div class="message">
            Made with ☕ and 💻 by blogtheorem
        </div>
        <div class="bottom">
            <p>Copyright @youtubetools 2021</p>
            <div class="botton_right">
                <a href="/privacy">
                    <p>Privacy Page</p>
                </a>
                <a href="/terms">
                    <p>Terms of Service</p>
                </a>
                <a href="/disclaimer">
                    <p>Disclaimer</p>
                </a>
            </div>
        </div>
    </footer>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y1FKY4G820"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Y1FKY4G820');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8906784139599592"
        crossorigin="anonymous"></script>
</body>
</html>