<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/tag.css">
    <title>Youtube Keywords Downloader</title>

     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="./assets/youtube.png" type="image/x-icon">

    <!-- Primary Meta Tags -->
    <meta name="title" content="Youtube Keywords Finder">
    <meta name="description"
        content="Youtube Keywords Finder. One click meta tag checker">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://youtubetools.herokuapp.com/">
    <meta property="og:title" content="Youtube Keywords Finder">
    <meta property="og:description"
        content="Youtube Keywords Finder. One click meta tag checker">
    <meta property="og:image" content="https://youtubetools.herokuapp.com/assets/ythomepage.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://youtubetools.herokuapp.com/">
    <meta property="twitter:title" content="Youtube Keywords Finder">
    <meta property="twitter:description"
        content="Youtube Keywords Finder. One click meta tag checker">
    <meta property="twitter:image" content="https://youtubetools.herokuapp.com/assets/ythomepage.png">
    
</head>

<body>
    <header>
        <nav>
            <a href="/">youtubetools</a>
            <div class="left">
                <a href="https://blogtheorem.com" target='__blank'>
                    <p>Portfolio</p>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="title">
                <h1>Youtube Keywords/Tag Finder</h1>
            </div>
        </div>
        <div class="input_container">
            <input class='input_tag' type="text" placeholder='Enter Youtube link ...'>
        </div>
        <div class="button_container">
            <button class='btn_tag'>
                <h3>Find Tags</h3>
            </button>
        </div>
        <div class="details">
            <p class="title_tag"></p>
            <img src="" class="img_tag" alt="">

            <div class="tag_box"></div>
        </div>
    </main>
    <footer>
        <div class="message">
            Made with ☕ and 💻 by <a href="https://blogtheorem.com" target="__blank">blogtheorem</a>
        </div>
        <div class="bottom">
            <p>Copyright @youtubetools.com 2021</p>

            <div class="botton_right">
                <p>Privacy Page</p>
                <p>Terms of Service</p>
                <p>Disclaimer</p>
            </div>
        </div>
    </footer>

    <script src="./script/tag.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.21.15/plugins/export/libs/FileSaver.js/FileSaver.min.js"></script>

</body>

</html>