<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/thumbnail.css">
    <title>Thumbnail Downloader</title>
    
</head>
<body>
    <header>
        <nav>
            <a href="/">youtubetools</a>
            <div class="left">
                <a href="https://blogtheorem.com" target='__blank'>
                    <p>Portfolio</p>
                </a>
            </div>
        </nav>
    </header>
        <main>
        <div class="container">
            <div class="title">
                <h1>Youtube Thumbnail Dowloader</h1>
            </div>
        </div>
        <div class="input_container">
            <input class='input_thumbnail' type="text" placeholder='Enter Youtube link ...'>
        </div>
        <div class="button_container">
            <button class='btn_thumbnail'>
                <h3>Find thumbnails</h3>
            </button>
        </div>  
        <p class="heading"></p>
        <div class="thumbnail_box">
  
        </div>
    </main>
        <footer>
        <div class="message">
            Made with ☕ and 💻 by <a href="https://blogtheorem.com" target="__blank">blogtheorem</a> 
        </div>
        <div class="bottom">
            <p>Copyright @youtubetools.com 2021</p>

            <div class="botton_right">
                <p>Privacy Page</p>
                <p>Terms of Service</p>
                <p>Disclaimer</p>
            </div>
        </div>
    </footer>
    <script src="./script/thumbnail.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.21.15/plugins/export/libs/FileSaver.js/FileSaver.min.js"></script>
    
</body>
</html>