@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1a1a1a;
  color: rgb(182, 182, 182);
}

.left a {
  text-decoration: none;
  color: black;
}

.bottom a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Reem Kufi;
  padding: 20px;
}

.left {
  display: flex;
  align-items: center;
}

.left p {
  margin-left: 40px;
}

/* MAIN */

main {
  margin-top: 30px;
  text-align: center;
}

.title {
  margin: 20px;
}

.title span i {
  color: #e74c3c;
}

.container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  font-family: Righteous;
  font-size: 24px;
}

h2 {
  font-family: Righteous;
}

.content {
  margin: 30px auto 60px auto;
  width: 50%;
  text-align: center;
}

.content_features h3 {
  margin: 20px 0;
}

.content p {
  margin: 10px 0;
}

footer {
  font-family: Reem Kufi;
  flex: 0 0 50px;
  margin-top: auto;
}

.bottom {
  width: 100%;
  background-color: #111111;
  padding: 20px;
  color: #eee;
  display: flex;
  justify-content: space-between;
}

.botton_right {
  display: flex;
  justify-content: space-between;
}

.botton_right p {
  margin-left: 20px;
}

.card {
  border: 2px solid #eee;
  font-family: Righteous;
  padding: 15px;
  margin: 10px;
  color: #eee;
}

.card a {
  text-decoration: none;
  color: #ededed;
}

.card span {
  margin: 5px;
}

.card:active {
  transform: translate(5px, 5px);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.card:hover {
  transform: translate(2px, 2px);
  box-shadow: 5px 5px 0px 0px white;
  cursor: pointer;
}

.note {
  margin-top: 20px;
  text-align: center;
  font-family: Reem Kufi;
}

.coffee {
  color: #0078d7;
  text-decoration: none !important;
}

@media only screen and (max-width: 540px) {
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 16px;
  }

  .bottom {
    flex-direction: column;
  }

  .left,
  .botton_right {
    display: none;
  }

  main {
    position: relative;
    margin-top: 20px;
  }

  .bottom p {
    text-align: center;
  }

  .content {
    margin: 20px auto 40px auto;
    width: 90%;
  }

  .message {
    margin: 10px auto;
  }
}
