@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
  background-color: #1a1a1a;
  color: rgb(182, 182, 182);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.message a,
.left a,
nav a {
  text-decoration: none;
  color: rgb(182, 182, 182);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Reem Kufi;
  padding: 20px;
}

.left {
  display: flex;
  align-items: center;
}

.left p {
  margin-left: 40px;
}

main {
  margin-top: 40px;
}

.title {
  margin-bottom: 20px;
  color: white;
}

.container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container img {
  width: 30px;
  margin: 20px;
}

h1 {
  font-family: Righteous;
  font-size: 24px;
}

h2 {
  font-family: Righteous;
}

h4,
h3 {
  font-family: Reem Kufi;
}

.input_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  padding: 20px;
  width: 500px;
  border: 3px solid black;
  border: none;
  background-color: #2e2e2e;
  font-family: "Roboto", sans-serif;
  color: white;
}

input:focus {
  outline: none;
}

.button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.btn_thumbnail {
  padding: 10px 20px;
  background-color: #e74c3c;
  color: white;
  border: none;
}

.btn_thumbnail:disabled,
.btn_thumbnail[disabled] {
  background-color: #cccccc;
  color: #666666;
  transform: translate(0px, 0px);
}

.btn_thumbnail:hover {
  cursor: pointer;
}

.btn_thumbnail:active {
  transform: translate(2px, 2px);
  box-shadow: 5px 5px 0px 0px #000;
  cursor: pointer;
}

.button_container span {
  margin: 5px;
}

.thumbnail_box {
  text-align: center;
  margin: 10px;
}

.x,
.btn_download {
  visibility: hidden;
}

.btn_download {
  padding: 5px;
  margin: 20px;
}

.size,
.heading {
  margin: 15px;
}

.thumbnail_container {
  margin: 10px 0;
}

footer {
  font-family: Reem Kufi;
  flex: 0 0 50px;
  margin-top: auto;
}

.heading {
  text-align: center;
}

.message {
  text-align: center;
  padding: 10px;
}

.bottom {
  width: 100%;
  background-color: black;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.botton_right {
  display: flex;
  justify-content: space-between;
}

.botton_right p {
  margin-left: 20px;
}

.download {
  visibility: hidden;
}

.loading {
  width: 50px;
}

.audio_box,
.thumbnail,
.download {
  margin: 20px;
  text-align: center;
}

.thumbnail_size {
  margin-top: 10px;
}

.thumbnail_download {
  padding-top: 5px !important;
  padding-bottom: 20px !important;
}

/* SURFACE DUO */
@media only screen and (max-width: 540px) {
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 16px;
  }
  .input_container input {
    width: 100%;
  }

  .bottom {
    flex-direction: column;
  }

  .left,
  .botton_right {
    display: none;
  }

  main {
    padding: 15px;
  }

  .container img {
    margin: 20px;
    width: 20px;
  }

  .btn {
    font-size: 12px;
    padding: 10px 15px;
    background-color: #e74c3c;
    color: white;
    border: none;
  }

  .bottom p {
    text-align: center;
  }

  .thumbnail_img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
